<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html lang="en">

<!-- Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

<title>Bus Booking Website 404</title>
<div th:replace="layout::css-js"></div>
</head>
<!-- //Head -->



	<!-- Body -->
	<body>

		<h1>ERROR 404</h1>

		<div class="containerw3layouts-agileits">

			<h2>Page Not Found</h2>

			<div class="w3layoutscontactagileits">
				<form th:action="@{/}">					

					<div class="aitssubmitw3ls">
						<input type="submit"  value="BACK">
					</div>

				</form>
			</div>

		</div>

		<div class="w3lsfooteragileits">
			<p> &copy; 2018 Bus Booking Form. All Rights Reserved | Design by <a href="http://localhost:5000/home" target="=_blank">Java Fresher 121</a></p>
		</div>

	</body>
	<!-- //Body -->

</html>