


<!DOCTYPE html>
<html lang="en">

<!-- Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

<title>Bus Booking Homepage</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords"
	content="Taxi Booking Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- //Meta-Tags -->

<!-- Custom-Style-Sheet -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/agency.css" type="text/css" media="all">
<link rel="stylesheet" href="css/jquery-ui.css" type="text/css"
	media="all">
<!-- //Custom-Style-Sheet -->

<!-- Fonts -->
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
	type="text/css" media="all">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Montserrat:400,700"
	type="text/css" media="all">
<!-- //Fonts -->
</head>
<!-- //Head -->

 <!-- Header -->
 	<div th:replace="layout :: navbar-user">...</div>
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Book Bus Tickets Online!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
       		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" th:href="@{/bookingform}">Start booking</a>
        </div>
      </div>
    </header>


<!-- Body -->
<body>
	
	<div class="w3lsfooteragileits">
		<p> &copy; 2018 Bus Booking Form. All Rights Reserved | Design by <a href="http://localhost:5000/home" target="=_blank">Java Fresher 121</a></p>
	</div>

</body>
<!-- //Body -->

</html>